/* .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
} */
.header{
    position:fixed;
    display: flex;
    align-items: center;
    width: 1220px;
         height: 54px;
        top: 15px;
        margin-left: 90px;
        gap: 0px;
        opacity: 0px; 
}
.nav{
    margin-left: 30px;
    margin-top: 15px;
    width: 647px;
        height: 42px;
        top: 6px;
        gap: 0px;
        opacity: 0px;
}
.nav__list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav__item{
    list-style-type: none;

}

.nav__link{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.buud{
    margin-left: 70px;
    display: flex;
    align-items: center;
    gap: 16px;

}
.btn__nav{
    width: 160px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.btn__nav:hover {
    cursor: pointer;
    width: 160px;
    height: 48px;
    background: #0075FF;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
    line-height: 24px;
    color: #ffffff;
}