/* General styles */

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 1300px;
        height: 80px;
        gap: 0px;
        opacity: 0px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    color: #000;
    
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}
.nav li:hover {
    color: rgb(255, 251, 0);
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.nav .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.nav li:hover .dropdown,
.nav .dropdown:hover {
    font-size: 10px;
    color: #000;
    display: block;
}

/* Responsive styles */
@media (max-width: 900px) {
    .nav ul {
        flex-direction: column;
    }

    .nav li {
        margin-left: 0;
    }
}
.hed__btn{
    border: none;
    background-color: #fff;
    margin-right: 100px;
}
@media (max-width: 376px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }
}